@page { margin-top: 30px;margin-bottom: 20px;}
body { text-align:justify; margin-left: 30px; margin-right: 30px; padding: 0;}

p.center{ text-indent:0; text-align:center}
a{text-decoration:none;}

h3 {
	font-size: 140%;
	text-align:center;
	font-weight:normal;
	margin:0;
}
h5 {
	text-align:center;
	margin:0;
}
.small{ font-size:70%}

  p{ margin:0 1.5em; font-size:85%}

  div.sgc-6 {margin-top:0.8em; border:2px solid #000000}
  h5.sgc-5 { margin-bottom:0em}
  p.sgc-4 { margin-bottom:0em}
  p.sgc-3 { margin-bottom:0em; text-indent:0}
  h3.sgc-2 { font-size:90%; margin-bottom:1em;}
  h3.sgc-1 { font-size:90%; margin-top:1em;}
